services:
  app:
    build: .
    volumes:
      - ./data:/usr/src/app/data
    ports:
      - "3100:3000"
    environment:
      FELICITY_USERNAME: ${FELICITY_USERNAME}
      FELICITY_PASSWORD: ${FELICITY_PASSWORD}
